@tailwind base;
@tailwind components;
@tailwind utilities;

.button-transition {
  transition-property: transform, opacity;
  transition-duration: 500ms, 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.button-transition-delay {
  transition-property: transform, opacity;
  transition-duration: 500ms, 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  transition-delay: 0ms, 1000ms;
}

